<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/icon.ico" type="image/x-icon" />
    <title>@ViewBag.Title - Optional.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Optional", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Register Lecturer", "RegisterLecturer", "Admin")</li>
                    <li>@Html.ActionLink("Create Course", "CreateCourse", "Admin")</li>
                    <li> @Html.ActionLink("Block/Unblock students", "BlockUnblockStudent", "Admin")</li>
                    <li>@Html.ActionLink("List of lecturers", "LecturerList", "Admin")</li>
                    <li>@Html.ActionLink("List of courses", "CourseList", "Admin")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year - Optional.com</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>