@model Optional.Domain.Core.Course

@{
    ViewBag.Title = "DeleteCourse";
}

<h2 class="decor-font">Delete Course</h2>

<div>
    <hr />
    <dl class="text-left dl-horizontal my-dt">
        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Model.StartDate.ToShortDateString()
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn-block btn-my"/>
}

