@model IEnumerable<Optional.Domain.Core.Course>

@{
    ViewBag.Title = "CourseList";
}

<h2>CourseList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Theme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @((item.StartDate.AddDays(item.Duration)).CompareTo(DateTime.Now) <= 0 ? Html.ActionLink("Выставить оценки", "Grade", new {id = item.CourseId}))
        </td>
    </tr>
}

</table>
