@model IEnumerable<Optional.Domain.Core.Course>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Theme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @item.StartDate.ToShortDateString()
        </td>
        <td>
            @if (item.StartDate.AddDays(item.Duration).CompareTo(DateTime.Now) <= 0)
            {
                @Html.ActionLink("Grade Marks", "Grade", new {id = item.CourseId})
            }
            else
            {
                @Html.ActionLink("Details", "ViewStudentsOfCourse", new { courseId=item.CourseId})
            }
        </td>
    </tr>
}

</table>
